<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | FAZENDA</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
  <body>
    <div id="page">

      <%= render 'layouts/header' %>

      <div id="conteudo">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>

    </div>

  </body>
</html>
